<br>

<div class="row justify-content-center">
    <span class="col-4">
        <ng-multiselect-dropdown [placeholder]="'Select City'" [settings]="dropdownSettings" [data]="cities"
            [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)">
        </ng-multiselect-dropdown>
    </span>
</div>

<br><br><br>
<div class="row justify-content-center">
    <span *ngFor="let city of citiesSelected;let i=index" class="col-sm-10 col-md-6 col-lg-3">

        <p class="text-center">{{city.name}}</p>
        <p class="text-center">{{city.time | date: 'hh:mm:ss a'}}</p>
        <div class="clock">
            <div class="wrap">
                <span id="hour{{i}}" class="hour"></span>
                <span id="minute{{i}}" class="minute"></span>
                <span id="second{{i}}" class="second"></span>
                <span class="dot"></span>
            </div>
        </div>
    </span>
</div>